[submodule "emacs-data"]
	path = var
	url = git@gitlab.com:PreciousPudding/emacs-data.git
[submodule "locales"]
	path = locales
	url = https://github.com/citation-style-language/locales.git
[submodule "popweb"]
	path = popweb
	url = https://github.com/manateelazycat/popweb.git
