[submodule "emacs-data"]
    path = var
    url = git@gitlab.com:PreciousPudding/emacs-data.git
[submodule "locales"]
    path = locales
    url = https://github.com/citation-style-language/locales.git
[submodule "emacs-application-framework"]
    path = site-lisp/emacs-application-framework
    url = https://github.com/emacs-eaf/emacs-application-framework.git
