;;; public entries -*- mode: plstore -*- 
(("%28%22kristoffer_balintona%40brown.edu%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22independent_study%40brown.edu%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_pr2pb1gdf5dkogh3h13kvs8uf0%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_g2s8uc0cufru3ruq7g7tbd1a7k%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_8ri64bp98ab1oj28704npqhig4%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22brown.edu_d61gju3thc3a7e58k84qbn1nc8%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22ic4ecccdo60mub7raqhear02vg%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22v7tpr3s152ao11tlf93lu3don4%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0EBwMCDhpmlNCXngT/0usB5PPvA3OytFVpmIPPxfs0bN7ih8asVMaZkOcMQD8J
+3u0RXUC4f4WAFIQbN5CpYc+8SZco4M7GwGM+ILrmySobeb0MDxejDVYnGDjbiZh
XwMubXTriFgGKEfBiv8ZAmb4bZKRX4GMWtIInntdUZxh541AEUuq388DHLk/IHWx
lpZFCEl5Z3M50l5kjWdMF8tnSSpieZYuVGDplZB0jwV4iua2jZ/STIRczdzmsqvX
YKP00L89XMFLY+tENVZbHr3QPL5G/zbCFvCs0c9A6ObvL6EDCmsVIo/XLx/ZONCC
JqZmtZzTt4yhKPtStdVgk+9GONoaQ818nS+XCGcmZ6Nmk1vqPhDfbg4YMmQX8d08
9SvLbC28mWVilwqJAoK1gi0AlWBmQsfB0JOavxXZNsgYbKbkjUsno1OXyfdHUUVQ
zL1cL1Fuh6Qt1f/5G9W+XDHjQE1lHZSf68Ixmz1ieK+h0lRDXFgj9FA3Ztme1mFm
V2iXV5vVHjrXRm6G55jeMFaSGZWl82LqnZH2Kmzqa4H0UUP9+lhgatfmKFenLgOj
XV1baNcnhB3PA1xd6a+IqWWgTHndzZgqLKa6TLDG1cxWlhXzWDTc92hjIXtIZ0c/
Fms5Gpk7KBmXeyoyxuLjJ7IlQUGWZtGS+Jpp+/2B3gh8GWOUh17k+6Ubn3fMLj4m
5zvziiEAVZpK0whZLb1qFMhZ3j52QKaa8mRkvCsvnI2IO49yOreW/F3I7L+H1XTv
jeHA4PtJp54usV5h1FQchxJXdwcgbKfrPj3GwfxhjAI3Dz6psYR5EDMOmfGElhXl
XJExjuJrqA+rXNBFfcNbMxUsBRnueee1lhlCcgQH+1e1qjFrht9xLB1w8+STUmF6
yWHHO7G87X7+Sthayu2LGtNOzDdMqbfL1u0rpVX61l6Y1booL/vii27W6PxK2jIT
Ev0gVHbl1NFBPAzl8Cf5JzZap4cqjcZDXQvKPnZBfToSSQI0CTOnXrwJpiWOKdAm
XD5AegQm/a7Cn24/gGgJKhwrDpiycOiCJtgtuxjV80jvRJdPK48niOiTzF2H7W2e
f6JMtLN6sSoaeaybSBjGoQCuFYbBJBeWsBer7Lo35hRq8Y/RmZLOhGjyQi2uutsi
fYjWSO4VZXQuCyqH88sIiGEMOgq6O33a6e3F45oKY5rVYicj9cM7lrVmyNbLcTze
POesBeDlHgZ53ZhRj2GHfkocwX5YTJTMl4tPlbEMvBY5b94605bG1r2N+J9UKj2I
vKDh2SHUNRqAGc0Kf7YNb92NdX7kSNGdfyxd57Am+UsOetECoCKryjug3VSmxDZd
5KKE6j52Q4YQpdz4SNy7JxnsUpM/AjDoxFILuTklJ2NzMPe0Dg4+ww3I6nsQpGBD
XoLs7N3MBMDzl2zV9yUzNKC02EP4iJMIudVWFcNX11payFYTrRUVR3TlmFeHOteT
j0EFZKqfIC/urrvQltrjUw8ZTLSXQSNjM0OoRH6oBjt35pn2e2dgqq5wL5vWnKzq
aHCynG6ZAKtEqbyCfjkjMCbQOCIT7B+j0asqw1oF7Hr9DL214L3RihoCr7hi4/PI
QYDD3bia2HrIGxJK3zv+ceZjQ9Yv/8FJuOqG4OV4+ep6u686E/DDUD5lHpM6cbLB
V33mcRJzaBc4QdRBYqwxbaL1Y6ZWZgZLAG3mVeJSJFBH4omAzpT5OFwBb/Utwd8A
tB0k6RfXoDKWUv9VoDF+SeS+ak1kDmAFL042DFhrqVQ86WBKkkwN26xAM5HAZ/8c
lUgWIDNaNWRzx44nvZpz3O/wJb4m3BqNEzF3cqf4VNAGTpae+4lzB/q+i/kMfwYA
JfkjLNMUACJn0vJxkHEfMAArfxsWTAUid/KDMaxDaNzIjvtfbjWSwZLrMeKJe8+Z
wjB/3FlYqjsp7Bl6VpPY+BZPTqZlB1ulHJFD5cxYQOiZxGu0xl4CIQcU51MX2o3E
GCrBZnMsEyQuq2jBlhomjzTpDpC2wBwwcLOflB1RfIciliSN54FfSI5fkP/NKBu+
I6n1cVLJjZZdhFv1IDvybWkpBgZkuHAx7xPwmLnG1RO2ODblorM/1ckuWZmK0xOI
7+cI109fUpxW8/Y85f0fYNGATa6UAY3LiNef5W9tCBEokeW5+MKjviEifJ1IdQXI
+H5STGl4C3nrMBWjobRLEKimrE8xNCwtlrTG3aTcRNDJxRXtQlUaZxZbrSPwMXIh
mEStih3tlOtMlD4KDu8UYz6BTtQDPccR5AiLY8oTsb1COX6lqu8J2DJwmKxQbmAP
+LC7MpH1EjBGmsJWLdFvZDDoaKhjm/GPQQodyKs3CRbBoxwCvWBe1+Ud35TwQS4r
X8Rz2NNsEKfezzTC9a5PSz6+3Dm1MbpiRKeNZpcibUm4av/grgDV2P1BRnr+2qX+
/tTSt/w7RixkKnS7y/RckEKjFYykDDKjmqVITJvgl3ahE5t1zT54/70jEtnUwod2
QFFOL4WdixDoftP8CM/LpW+ofYZAOn+hXECp9mZyCsCU0w3uboR1TRjg39TqUW4M
ttmcHwj7HbngE+yzAOL71SzFe5NC8DTDuVb3SRSg2XCGsY37aOeR5teYLaNaoTTY
cIpU54g3iyjtX9rIl0ZsPyKAd3RcRRqrNcafnYEES7GolTXd+wIICxi82MsqL5C8
wkR++Zdo73ZMTYaNl0/1QDZaUhjOTg8MjnbWRGLsI9PEMFbPOGsu+t2l/6QUQiU1
dDj1Ec2ttU3GArx0iSledQx2ztLtm3wY6KI32RWw/S3YbyHimv0yamiBcN3JUDs0
20L5h/Mgmq9Yuw==
=OA/d
-----END PGP MESSAGE-----
"