;;; public entries -*- mode: plstore -*- 
(("%28%22kristoffer_balintona%40brown.edu%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22independent_study%40brown.edu%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_pr2pb1gdf5dkogh3h13kvs8uf0%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_g2s8uc0cufru3ruq7g7tbd1a7k%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_8ri64bp98ab1oj28704npqhig4%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22brown.edu_d61gju3thc3a7e58k84qbn1nc8%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22ic4ecccdo60mub7raqhear02vg%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22v7tpr3s152ao11tlf93lu3don4%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0EBwMCmNOmHqiu3QD90usB8WWPGicgBYEj6zQ+F3fkfyJ7ihsYmEiJyAj7OHHj
9jT+rnzHlBczpsJaIU7BHUkSNNs02WDMfAoo/wAIbcip/WuYrBPkR7ced476xvUX
8UaksacB0Fp4t+npKE0YV+rkya9nP7DKxfno/iXjDqL1uIfX7aSuI2Qt1kTEssos
G2w1bV4AqIKYuQWrgMsU3xgdBucrhUj+FVTOoe4fUsXoDM7QELNI9SFzGNqTRuXU
Pvjj8QbzKVrrs8IuzC2VYeZFZPDAI6a8TSqev/FP9+EQDmPQvyDEaEFOADofNZtu
7k2MEo1AXPaRX+WHxh/J1vUiKsGF9kjLIafkc37yUl/eufKbBtLicjF+7OqTk6P4
1YYYJSNZt0kDf++CQ0u2Ar8rUq0/AKb7hG3Qpkq3AXDmZC9cpKrwa1rNrZyDhijB
Lh4vV1WlczKfbkNo4klWjxrxIc7RkR7KJV6QrgPVvPW7N7jnXfaFO41xeQiSNdwY
pUlj35EWIXZtiVWa32QWEKiF7I8vyO0vQLp8LPAF7gPfSq2Pz/p//30p8+gDyJyH
lewi6Mm4DfajvN6jqlo/qC7fvVPFtol/GYQKC3gcBZ8uIfhJYZ/KGTXbpMqpai6m
q2+WL5Utey+UefuIpak5TJ7BB+HwklEUPNGdkPL6+ZqdSWfDR7k2BjAT72rtfSlc
dJ8+iskgEtD9KFGG+z/pqQp5aLjk2U1P7J3chEEMZRA2s9dXGhnMMlAXCQyNADzG
IselPmsQSXbb3PpPyjxS8xR6hzLH/Wx5cW7ukL0V6yfxr3MEYZaveAgLPHLT/rkL
XXSpP27Ge1ImySidN2Ry2+vqro/a4qrQjeOhGsz40gYoiXt6zT3MqzXtdAr5KpTx
ekRKl8ik1qdjcy/+QOXx9JMbW9avzl2ELRMxk8N66/dUFgRmSG8KuSLpaxnavvHQ
eIiSpRdvWOMt2NigCLon1aVo7BhWMhRvBjCo2uAnToqCJ1kLhEKhxAxIc7NBmSxH
RuKJC4Bv1JjVTpc1HKcdpIEBpRrnNLNxvnAfoBo5R5yt26MLudkooVgdBUxOPH67
3WI8hhx5IcxdK5wiYIhPTGQq/8uWsMgapkP+MnGGXA2KRwPWvYttZiT3xQdlJUjZ
XUtXmZ8pF+7fWgseevzTYir2d+zQ2n7rXf6oaKfcXWP52e2/2ZCxGwuB3KCV2nlh
NIqoS3DaGAa/TYuK/kInTN55dxucZfbryz0Y6w2vW1uQsG9hkGtDQoR/IK83LVIY
phwCSG0Prt4E8JYVJ8JE8yRcrCL62ee2IidHFHh0WS0xPazw0sIa3ePST/Dlvq+j
hTVk8rz8SCqWfTniYPHQ1p7CvbL6gp3k7r5tRDKhCWDRPyAfD7EvWDjmbTUMpjD7
R3R/hEv+RU1JGvZjFo/bxKmN/7Vy9Q2bwwhDzKudDE68vd88juNOTdX3qfgxCP11
wd0CzxJRuUlvJJT1JukEFXRrN+WmQcYi/QURw4QVItSOxDFqdY6l2Uzke2v5B/h7
VKeCy5CbkX81XCOjZAsAsp6731aAA/DG8DAXa9AmJ0J4nC2xlJU2QDR/G/k/3L6o
wx89Os1wM0TD1s3Nj3FTYB4PvtiKUGe0aweWa5lcUW1fpBbic6/iNFRdmkyKlr3o
Yk6Am7BDCo0C5vYawOKlIpTzDquWVd+1xjeg2iJBWHqTVMyF6dAT4IQUYNLCGRNf
MuCjx8WbfNvwLDrcfCslbE6c6cWLL165Jl2maduBNf5KhSvInPq1jozOfkxwegfN
hRoWX5LicUeh2Z+hndouMcOcIUP0WS7xFuPBagPxUkpbdhKyBI/qA3B6N0yPpQ0I
XtifT4U6IKUrtOfnKyOZi2i7SfdHL5n0BBvsf0I/49Gd9ap6CcniuIGCus5lMTBA
l4MtMx5ykafpn0bIOBke4qOqlRdcbLskgPWehxIMnNQcw/xAY4dOz7NSC3wjzfls
U8pPS0t53RBP3HWWiWUd40BuRtfzivr+ZhTwBPCNaSuFBOJe6I6Sk+YxAtN4cxBg
kimDs/O6KuwAC7gcFpf7cNjHZFCFCqoiIbTXU/lOp4OBmdjY63+/ptYbfd49GUis
+sEO+qvL1ZGcsn/oVH/wEDfhL2Kjx/LNlnBIsjB+1gnppTx7G+7We69OhbX9Q25G
8zW7yTzX7QMSG9jt3Kin4tczo86P26gJRr4T3FRRF1mJRF7iy87t0mMbuasf8/J7
tXTCO5k3CjJDdFVeA5gT78GDYkIBEegS4CVGlFG+ocEN6WLLKYMOm+MuP8wRRXY8
ZEyfjX1ZX+s43HrA+N4KLy9z0UU4g66ZEYgzO6DYw+U6A8sV3xnoWUdmplmqUdwD
18u7Rtj9qJdMCNMN5vMuS+dSAM7/8k+5Xu3RdWrhpP3ZTUr6MfCxrowmPStNaVFe
KTEsqw+MLjWgrR3AGe9nuYnFAnzVOY36YUKzSRJ3yxOYcZ2zzV2BGjwYw+VOD+X8
F/nNKd2pS17gMKSF8QwxbiYNOStvr85OpFmbeE6l0VF5+MSjmHVZtJV26uQujag0
WTnjKemxbL0wywIF1HLO81skYlEHCw4GKRCKpn7Kq5RK4ODprWe8Yv2cy1bisAkE
0bKivWAsUiFbGfdv2mW0tnNwaCVAf8crOH6ABUEGHEgjKc21lB0v8AIi5eH+dE6z
IfJiq0w2OB4qKkyYIthmL4OxbPbZl3n+piVwKXl2UNB38CuQxe8k8wViKBAKV3oq
4jZb945acTMOWtriDQAlF++q4UbUQ+WEveHvn+ZmI3M6ZYZ8ChdyAigbvCC4N9B+
oDNxlR/zU14=
=Z6xN
-----END PGP MESSAGE-----
"