;;; public entries -*- mode: plstore -*- 
(("%28%22kristoffer_balintona%40brown.edu%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22independent_study%40brown.edu%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_pr2pb1gdf5dkogh3h13kvs8uf0%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_g2s8uc0cufru3ruq7g7tbd1a7k%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22c_8ri64bp98ab1oj28704npqhig4%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22brown.edu_d61gju3thc3a7e58k84qbn1nc8%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22ic4ecccdo60mub7raqhear02vg%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22v7tpr3s152ao11tlf93lu3don4%40group.calendar.google.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0EBwMCzQinOISXjqr/0usBOUSDPGlvSKusynVmrwklbpRSsW+q+JFesxLLcN4F
OwK1Px7jSF4x/zkorqt1VSgATElQNJcQF6Dgmm6hy68bjwpAa4R2dvQmriLJ3C1t
A4/0SfN6peOC4FMbg8BdoGv7ovqsJ3q6zksaTXd1TTpRRJsYDCf5f94wGRZ/iW1b
tte8AdQPziC6RNbqpm14CjoDg9gGVxa6m8HTWudr84yGUXZO8Bms5zw+rT1wrtWR
dmAEEgsaMJZ8aDI1BxEVs1IiJ8Ou3mDRQv8bXJFNq3lZtN1O7tGRq/r29KOkQ9xT
S/BZAnPGp7DxuS3qJiXwPgQCFd+BRNgaL0mqXxzUgFNuJ2W144+XWabjV2smoVnA
nXHmiSSjpjH175lHTd1A9PSlZJ7pVf/PxsyGO7oMLUrsdyLnOYB6Xwz5qAxuEbjY
bKQ0yjm/uX00qGSqryguelxsxE1oTKxy3nfN81WhrmEkIwHrla02vXkat6pdCQuu
A/yVjGgfDTvMo3skEdtANtcgOh6oyfBEjhvLxop87hdPR44o3zxptGK3thUAvK1x
ZPtSxQuW72BRG3CJFZ//HMg0luoQF0i2h4aEr8NSkNxxzfMykrF3DdAs4EjDu2HP
yJEA13dR9GLRspyc44f5VtMg+ItVXvLc3bjMF68a8hbL8Hu8JcDjKpQFtYwd3idB
2M4T8HVXt9V+weYTjOzAlDT2c5xCu1R46CyYkusJr46VxbqPXQS1AX8TfEU6UTt3
a5M2rc58FWfIGarbXKcTD4PoaeXgsCDposI5sscHGxuKt4pAitAmFNPYUWsMn4Vv
h8MwRlnNH7Vaf/r3WgUiv5SmC9QiR1xwXgM0080O7YaS7NxYpD9ubs/Wm+eq7rr/
IBNlh6hyU2tz70mfYTIjK7zPTEIhMrjhlZ3VK4VBcCgHMHv1+fqY+WjtbD2ioCG0
NUVf2q+LGEkNfJaJtmbh0cDouelOIutuadjgzc58AlOT9n5N+VH1rU6yJyI46Xl6
H0qzwZzuLG6YL10ZT0npyqtJO6Ik0hkAnxkkipaoc42IF1E27nP+tLLbJZ7Sw2RN
aWIPer9fdAgHvq19Kk81TNCDbSQHf9W589Mul3dC0l8+2kUcEetZa87m0dvc7/ld
13rsRby0WiJv/ZwtADL1hez/1JNn1mmMFF8Cy6Aqbzc+Hvh2rt7x4btre9B/lLXi
aXrH0UnD6slR4XsDxxzF1T79tIwvpfFKQws2R9BN3+U41w7YBdW4kr8dE3GuAlvk
5xcPtdUiVGSeDj71uaju46CFzo/Klf5GPllE5/7yU3ATWmAYFLEvwWhKAn4dylym
bdEt1c5O0fqt7dnJjKxhOFgqW+JvdxMdOAmOxw9ikzGivCqxdrXkWGgm5SViecHS
248pJnAbLTHeM6/78pmh4nJagyqlmvu3ekik8176cXlYlqbImuPtBRnkzQCNMZ48
px7cSdlEMPUp4REbTDv43B0fSzsOe0J9nIIwZKUkGYYLSbHvDM7dIWYxMoXnvuvO
/ly49n7PTy8j2rOM432vy2bSxxqPymANr4dkpopuIf5Z0gQvCPaI+HEfn4B+JC8P
bT2ytBxkAfQgDxEoD6+cUIejWc7FOFIoNMW+nlCdyzSLtomUDqbD3zKig1ce/Tc1
/MxcDxAkdA2fpt/rOLNLkYpkGfWMyoYS8CAi+MhRr0Fe5xeQnRRtSNM6bDr9NXCq
vDgh5lxM4RLJ+mKIboRSdIdRZwOoxSdgH4/OUgPNwQxilNgPgeb2bh6pDqTKbJof
2IGhp1mkT4szqim9gkfmPfWrwnkRF+OH8S0k8Dy8wfQvd6a6Dn90RzsDK6EfRXcj
+C1zzYU/Y7M8S1BQEALBL/1kylLtMF7v3LSZdXwIgAVCaF3Bgxdb3faJfkswlrJN
7eCwbGi+t40G/PDOU6LpXGV8/eIuXrKqD2/uU7jeP5FOMVUmf9Qy67TXQof0NBO+
M84JwCgvtK+fdMUvB/Z6xz2/rS382jgnzF+qsyG1XsZJzsYUP2+NdAs/GR+ARb9V
ID3EPl0S1akbxk9yBWv2lQ/xFbPVAsqIR4aDt/FYKcD/O+JEk2DYQR0TSrbklehU
DuHHg21tpRI5CK6uusSsA7VyFaxsYAhZrPh2tfOW10GFnEn1ax8exTlN/vcK+Mha
96gzH36Y9AxfMqHrYRGSNBDKdp7hyWiRjMkeSLb11LlUXAeve/OSjxk/+l7p0Eya
a4h5DEK67YLOVoiB0yZdTCHGiebj+DRdCHrC4/bU5yrWNl13+ANXPkJVXviOnpq2
3knYdZlE6FsmUiprvRJAyQEFa78hHAGIzNX5djYaxEOYLC1Ci3mFPGIKud07YXUV
Z4JMsjHjTKxLBH7FSfWEulU/3e6OpouyohTswxOQJ5F+E5nQ5qVqmQZCjSVXytLe
/EpYDwjUj464d3aFIVA8hGNATr91htbhNaxmDSDQTSURlqBJxdP1PksuJE0v2mir
aiNqgDiDec35ZvfBr5XcMe6Pc1XnRVNyb63FORXybvoQjGyw8YWg08XfjXymHii7
f8KvCDENTwRpHMCTq5m/gCeKPt2BeWfxMsUrEtF9MsxfcFXCbtIZYr4aTsNbZ1qQ
SywJRXqrC9zv7TGU6BMsSTXk11XVhZGMk84NcH9oq4CEImXJN57klgyLuuqaUyLV
+5D1M/pAjX+4gLqfK1x59AdKinOSN0gRbGcLORheXnMWZEXy+L+uPhxpJiBBfTy8
kDdo2oobZsYKda2eHjqAHKUJFG9I5HwdSqnyc/9ZT8b8qtR+wbX0/S6uEwT7oynS
rpLSJ4XV3tDo
=ZusR
-----END PGP MESSAGE-----
"